<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <EnvironmentName>Development</EnvironmentName>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ahmedishtiaq9778-001-site1.ftempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>62f696aa-4cfb-41ce-9431-54d47835bec3</ProjectGuid>
    <MSDeployServiceURL>https://ahmedishtiaq9778-001-site1.ftempurl.com:8172/msdeploy.axd?site=ahmedishtiaq9778-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>ahmedishtiaq9778-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ahmedishtiaq9778-001</UserName>
    <_SavePWD>False</_SavePWD>
</PropertyGroup>
</Project>