@model QuickTest.Models.Usertable

<div class="content-w3ls">
    <div class="text-center icon">
        <span class="fa fa-html5"></span>
    </div>

    <div class="content-bottom">
        <form asp-action="Sendcode" name="RegForm" onsubmit="return GEEKFORGEEKS()" asp-controller="Home" method="post">
            <div class="field-group">
                <span class="fa fa-user" aria-hidden="true"></span>
                <div class="wthree-field">
                    <input  name="number" type="tel" pattern="[0-9]{12}" placeholder="923336776656">

                </div>
                @*<img id="img1" src="~/images/interface.png" style="width:30px;height:30px; padding-top:10px;"  >*@
            </div>
            <span asp-validation-for="PhoneNo" class="text-danger" ></span>
            <span style="color:aliceblue;">ahmed</span>


            @*<div class="field-group">
            <span class="fa fa-lock" aria-hidden="true"></span>
            <div class="wthree-field">
                <input name="password" id="myInput" type="Password" placeholder="Password">
            </div>
        </div>*@
            <div class="wthree-field">
                <button id="" type="submit" class="btn">Send Code</button>
            </div>
            <br />
            @*<div class="field-group">
                <span class="fa fa-user" aria-hidden="true"></span>
                <div class="wthree-field">
                    <input name="text1" id="code" type="text" value="" placeholder="Enter Code" >
                </div>
            </div>*@
            @*<ul class="list-login">
                <li class="switch-agileits">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                        keep Logged in
                    </label>
                </li>
                <li>
                    <a href="#" class="text-right">forgot password?</a>
                </li>
                <li class="clearfix"></li>
            </ul>
            <ul class="list-login-bottom">
                <li class="">
                    <a href="#" class="">Create Account</a>
                </li>
                <li class="">
                    <a href="#" class="text-right">Need Help?</a>
                </li>
                <li class="clearfix"></li>
            </ul>*@
        </form>
    </div>
</div>


